#wrap{
    width:1250px; /* 각 웹 페이지 크기에 맞게 사이즈 조정 */
    text-align:left;
    margin:0;
    margin-right:auto;
    margin-left:auto;
    background-color:#222222;
    background-repeat:repeat-y;    
    min-height:1500px;
    position:relative;
    font-size:1.5em;
}

caption{
	color:#fff;
	margin: 10px 0 0 10px;
}
table tr,td{
	color:#fff;
	border:1px soild #fff;
}
table td{
	 color:#c0c0c0;
}
#a{
	width:100%;
}