ul{
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}
.slide-content .slide-content{
    margin-bottom: 50px;
}
.slider li{
    text-align: center;
    color: #FFF;
    background-size:cover;
    background-position: center;
}
.slider h3 {
    margin: 0;
    padding: 80px 0;
    height:80px;
}
.slide-content{
    width: 80%;
    height:80px;
}

body {
	
	background-size: cover;
	background-repeat: no-repeat;
   font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
}



.item1{background-image:url("../images/food0.jpg");}
.item2{background-image:url("../images/food1.jpg");}
.item3{background-image:url("../images/food2.jpg");}
.item4{background-image:url("../images/food3.jpg");}
.item5{background-image:url("../images/food4.jpg");}
.item6{background-image:url("../images/food5.jpg");}
.item7{background-image:url("../images/food6.jpg");}
.item8{background-image:url("../images/food7.jpg");}


