body{
margin:0;
padding:0;
font-family:sans-serif;
background:#34495e;
}
.box{
width:300px;
padding:40px;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:#222222;
text-align:center;
}
.box h1{
color:white;
text-transform:uppercase;
font-weight:500;
}
.box input[type="text"],.box input[type="password"]{
border:0;
background:none;
display:balck;
margin:20px auto;
text-align:center;
border:2px solid #3498db;
padding:14px 10px;
width:200px;
outline:none;
color:white;
border-radius:24px;
transition:0.25s;
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
width:280px;
border-color:#2ecc71;
}
.box input[type="submit"]{
border:0;
background:none;
display:balck;
margin:20px auto;
text-align:center;
border:2px solid #2ecc71;
padding:10px 40px;
width:150px;
outline:none;
color:white;
border-radius:24px;
transition:0.25s;
cursor:pointer;
}
.box input[type="submit"]:hover{
background:#2ecc71;
}



html,body{
  height:100%;
}
body{
  text-align:center;
}
body:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}
button{
border:0;
background:none;
display:balck;
margin:20px auto;
text-align:center;
border:2px solid #2ecc71;
padding:10px 40px;
width:150px;
outline:none;
color:white;
border-radius:24px;
transition:0.25s;
cursor:pointer;
}
button:hover{
  background:#2ecc71;  
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
